{
  "name": "{{project_name}}",
  "version": "1.0.0",
  "main": "vite.configb.js",
  "scripts": {
    "dev": "bunx --bun vite",
    "build": "bunx --bun vite build",
    "preview": "bunx --bun vite preview"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/{{author}}/{project_name}}.git"
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "bugs": {
    "url": "https://github.com/{{author}}/{project_name}}/issues"
  },
  "homepage": "https://github.com/{{author}}/{project_name}}#readme",
  "description": "",
  "dependencies": {
   
  },
  "devDependencies": {
    "@tailwindcss/vite": "^4.1.11",
    "tailwindcss": "^4.1.11",
    "vite": "^7.0.2",
    "flyonui": "^2.2.0",
    "@iconify/json": "^2.2.355",
    "@iconify/tailwind4": "^1.0.6"
  }
}
